opencv-python==4.10.0.84
sounddevice
numpy
soundfile
pydub
tensorflow
pandas
librosa
SpeechRecognition
resampy==0.4.3
hmmlearn
eyed3
imblearn
plotly
mediapipe==0.10.14
pyAudioAnalysis
torch
torchvision
timm==1.0.3
pillow
moviepy
fastapi
python-socketio
uvicorn